<app-header></app-header>

<app-list-workers></app-list-workers>

<div>
  <table border=1>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ worker.id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ worker.nome }}</td>
      </tr>
      <tr>
        <td>Wage</td>
        <td>{{ worker.salario }}</td>
      </tr>
      <tr>
        <td>Position</td>
        <td>{{ worker.cargo }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>

<h1>{{titulo}}</h1>